backups/latest/31ItqYUTCTrPXefj.json
{
  "updatedAt": "2025-11-29T00:25:17.459Z",
  "createdAt": "2025-11-29T00:25:17.332Z",
  "id": "31ItqYUTCTrPXefj",
  "name": "Discord bridge",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "ad4fde52-ceca-4ae1-9f42-8d3c4a7d2570",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "typeVersion": 2.1,
      "parameters": {
        "httpMethod": "POST",
        "path": "discord",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "c6454e78-78be-48b8-921e-88711ba62e3f",
      "name": "Prepare Session Context",
      "type": "n8n-nodes-base.code",
      "position": [
        192,
        0
      ],
      "typeVersion": 2,
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const isDM = !$json.body.guild_id;\nconst authorId = $json.body.author.id;\nconst channelId = $json.body.channel_id;\n\nlet sessionId;\n\nif (isDM) {\n  // DMs: session per user\n  sessionId = `discord-dm-${authorId}`;\n} else {\n  // Server: session per channel (shared conversation history)\n  sessionId = `discord-server-${channelId}`;\n}\n\nreturn {\n  json: {\n    sessionId: sessionId,\n    chatInput: $json.body.content,\n    action: \"sendMessage\",\n    ...($json)\n  }\n};"
      }
    },
    {
      "id": "f88455d3-6796-4f50-8d3c-de4f14487da5",
      "name": "Call \\'chat workflow\\'",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        400,
        0
      ],
      "typeVersion": 1.3,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ibk7jqFnR2rUnk0u",
          "mode": "list",
          "cachedResultUrl": "/workflow/ibk7jqFnR2rUnk0u",
          "cachedResultName": "chat workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "b5db2600-09c2-45fc-8fa9-5e86cdc9eea6",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        624,
        0
      ],
      "typeVersion": 2,
      "parameters": {
        "jsCode": "return {\n  json: {\n    reply: $input.first().json.output\n  }\n};"
      }
    },
    {
      "id": "e9357c86-ac5b-4c1f-b5da-db0654457af5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        848,
        0
      ],
      "typeVersion": 1.5,
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Context": {
      "main": [
        [
          {
            "node": "Call \\'chat workflow\\'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call \\'chat workflow\\'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "fcb2f58c-b9ec-4214-a95a-1a30bcdc8864",
  "versionCounter": 3,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-11-29T00:25:17.264Z",
      "createdAt": "2025-11-29T00:25:17.264Z",
      "id": "SBsC8sgQa1YUPwtE",
      "name": "@vahor/n8n-soUIJA3fgvSvQ"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-11-29T00:25:17.336Z",
      "createdAt": "2025-11-29T00:25:17.336Z",
      "role": "workflow:owner",
      "workflowId": "31ItqYUTCTrPXefj",
      "projectId": "jnUGEhBgE6dCGP82",
      "project": {
        "updatedAt": "2025-11-27T23:06:08.845Z",
        "createdAt": "2025-11-27T23:04:06.164Z",
        "id": "jnUGEhBgE6dCGP82",
        "name": "Pete Warnock <n8n@peterwarnock.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}