backups/20251128-155845/vqXm2QIwvcb0dpI4.json
{
  "updatedAt": "2025-11-28T22:08:14.000Z",
  "createdAt": "2025-11-28T19:01:45.164Z",
  "id": "vqXm2QIwvcb0dpI4",
  "name": "Discord bridge",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ad4fde52-ceca-4ae1-9f42-8d3c4a7d2570",
      "name": "Webhook",
      "webhookId": "f0e15943-424e-4a3c-8d66-51eee9448b1c"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    reply: $input.first().json.output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "b5db2600-09c2-45fc-8fa9-5e86cdc9eea6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        0
      ],
      "id": "e9357c86-ac5b-4c1f-b5da-db0654457af5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ibk7jqFnR2rUnk0u",
          "mode": "list",
          "cachedResultUrl": "/workflow/ibk7jqFnR2rUnk0u",
          "cachedResultName": "chat workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "f88455d3-6796-4f50-8d3c-de4f14487da5",
      "name": "Call 'chat workflow'"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const isDM = !$json.body.guild.id;\nconst authorId = $json.body.author.id;\nconst sessionId = isDM \n  ? `discord-dm-${authorId}`\n  : `discord-server-${authorId}`;\n\nreturn {\n  json: {\n    sessionId: sessionId,\n    chatInput: $json.body.content,\n    action: \"sendMessage\",\n    ...($json)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "c6454e78-78be-48b8-921e-88711ba62e3f",
      "name": "Prepare Session Context"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'chat workflow'": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Session Context": {
      "main": [
        [
          {
            "node": "Call 'chat workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba22e474-92a7-4df7-97e4-3a7a837c9677",
  "versionCounter": 45,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-28T19:01:45.195Z",
      "createdAt": "2025-11-28T19:01:45.195Z",
      "role": "workflow:owner",
      "workflowId": "vqXm2QIwvcb0dpI4",
      "projectId": "jnUGEhBgE6dCGP82",
      "project": {
        "updatedAt": "2025-11-27T23:06:08.845Z",
        "createdAt": "2025-11-27T23:04:06.164Z",
        "id": "jnUGEhBgE6dCGP82",
        "name": "Pete Warnock <n8n@peterwarnock.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}